@charset "UTF-8";
/* Main Style Sheet */
/* Variables */
:root {
  --base_green: #59a725;
  --light_green: #7ead1d;
  --light_warm_green: #a8bb5c;
  --light_cold_green: #7eaf4f;
  --dark_green: #196115;
  --light_brown: #b38d4d;
  --base_brown: #8f713d;
  --dark_brown: #37332c;
  --white: #e9e9e9;
  --light_black: #2b2b2b;
  --black: #000;
  --font_white: #fff;
  --font_black: #000;
}

/* 
  Fonts, so you dont have to search for them in the css link. Hernández.

  Open Sans: 400, 500, 600, 800. Sans serif
  Open Sans Condensed: 300, 300 italic, 700. Sans-serif 
  Anonymous Pro: 400, 700. Monospace
*/
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template: minmax(5vh, auto) 1fr minmax(5vh, auto)/1fr 1fr 1fr;
  grid-template-areas: "header header header" "main   main   main  " "footer footer footer";
}

.header {
  padding: 0.75rem;
  background-color: var(--dark_green);
  grid-area: header;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-flow: row wrap;
}
.header .header__title {
  color: var(--font_white);
  font: 700 2rem "Open Sans Condensed", sans-serif;
  text-align: center;
  text-transform: capitalize;
}
.header .header__text {
  color: var(--base_green);
  font: 400 0.9rem "Anonymous Pro", monospace;
  text-align: center;
  text-transform: capitalize;
}

.main {
  grid-area: main;
}
.main .section {
  margin: 0.5rem;
  padding: 0.5rem;
}
.main .section--text .title {
  margin: 0.5rem 0;
  color: var(--dark_green);
  font: 700 1.25rem/125% "Open Sans Condensed", sans-serif;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0 1px 5px -2px var(--light_green);
}
.main .section--text .subtitle {
  margin: 0.5rem 0;
  color: var(--dark_green);
  font: 600 1.15rem/110% "Open Sans", sans-serif;
  text-transform: capitalize;
}
.main .section--text .text {
  margin: 0.25rem 0;
  color: var(--font_black);
  font: 400 1rem/105% "Open Sans", sans-serif;
}
.main .section--text .list {
  padding-left: 0.25rem;
  margin: 0.5rem 0;
  list-style: none;
  box-shadow: inset 2px 0 5px -3px var(--light_green);
}
.main .section--text .list .li {
  color: var(--font_black);
  font: 400 1rem/105% "Open Sans", sans-serif;
}
.main .section--text .list .li::before {
  padding-right: 0.25rem;
  content: "&rarr;";
  content: "";
  color: var(--light_cold_green);
  font: 500 0.75em/100% "FontAwesome";
}
.main .section--text .link {
  color: var(--font_black);
  font: 500 1rem/105% "Open Sans", sans-serif;
  text-decoration: underline solid var(--dark_green);
  transition: color 450ms ease;
}
.main .section--text .link:hover, .main .section--text .link:active, .main .section--text .link:target, .main .section--text .link:focus {
  color: var(--base_green);
}
.main .section--plantfamilies {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}
.main .section--plantfamilies .plant {
  padding: 0.75rem;
  border: 5px solid var(--base_green);
  border-radius: 0.85rem;
  margin: 0.5rem;
  box-shadow: 2px 2px 5px 0px var(--light_black);
}
.main .section--plantfamilies .plant .plant__title {
  border-bottom: 3px solid var(--base_green);
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  color: var(--font_black);
  font: 700 1.75rem/110% "Open Sans Condensed", sans-serif;
  text-align: center;
  text-transform: capitalize;
}
.main .section--plantfamilies .plant .figure {
  width: 40vh;
  height: auto;
  margin: 0.5rem auto;
}
.main .section--plantfamilies .plant .figure .figure__img {
  margin: 0.25rem 0;
  width: 100%;
  height: auto;
  filter: none;
}
.main .section--plantfamilies .plant .figure .figure__caption {
  padding: 0.25rem;
  color: var(--font_black);
  font: 400 0.85rem/90% "Open Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
  box-shadow: inset 0 0 10px -5px var(--base_green);
}
.main .section--form {
  border-radius: 0.5rem;
  background-color: var(--dark_green);
}
.main .section--form .title {
  margin: 0.25rem 0;
  border-bottom: 2px solid var(--base_green);
  padding: 0.25rem 0;
  color: var(--font_white);
  font: 700 1.25rem/100% "Open Sans Condensed", sans-serif;
  text-transform: capitalize;
}
.main .section--form .form-wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1rem;
}
.main .section--form .input-wrapper {
  border-top: 2px solid var(--base_green);
  border-bottom: 2px solid var(--base_green);
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 0.5rem;
}
.main .section--form .label {
  color: var(--font_white);
  font: 500 1rem/110% "Open Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
}
.main .section--form .figure {
  width: 25vh;
  height: auto;
  margin: 0.25rem auto;
}
.main .section--form .figure .figure__img {
  width: 100%;
  height: auto;
  filter: invert(53%) sepia(14%) saturate(5965%) hue-rotate(61deg) brightness(101%) contrast(71%);
}
.main .section--form .input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  color: var(--font_black);
  font: 700 1rem/110% "Open Sans Condensed", sans-serif;
  text-align: center;
  text-transform: capitalize;
  transition: outline 400ms ease, background-color 450ms ease;
}
.main .section--form .input:hover, .main .section--form .input:focus, .main .section--form .input:target {
  outline: 3px solid var(--light_green);
}
.main .section--form .input[type=button]:active {
  background-color: var(--light_cold_green);
}
.main .section--form .input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
.main .section--popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(43, 43, 43, 0.9);
  display: none;
  grid-template: auto auto/10% 1fr 10%;
  grid-template-areas: "popup     popup     popup    " "animation animation animation";
  justify-items: center;
  align-items: flex-start;
}
.main .section--popup .popup {
  width: 90%;
  min-height: 60vh;
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  background-color: var(--light_cold_green);
  grid-area: popup;
  display: grid;
  grid-template: auto 1fr/1fr auto;
  grid-template-areas: "title   closebtn" "content content ";
  gap: 0.5rem;
}
.main .section--popup .popup .popup__title {
  border-bottom: 3px solid var(--dark_green);
  color: var(--font_black);
  font: 700 1.25rem/115% "Open Sans Condensed", sans-serif;
  text-align: center;
  text-transform: capitalize;
  grid-area: title;
  display: flex;
  align-items: center;
}
.main .section--popup .popup .popup__closebtn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--dark_green);
  grid-area: closebtn;
}
.main .section--popup .popup .popup__closebtn:before {
  content: "";
  color: var(--light_cold_green);
  font: 500 1rem/100% "FontAwesome";
  text-align: center;
}
.main .section--popup .popup .content-wrapper {
  border-left: 3px solid var(--dark_green);
  border-right: 3px solid var(--dark_green);
  padding: 0.5rem;
  grid-area: content;
}
.main .section--popup .popup .popup__text {
  margin: 0.25rem 0;
  color: var(--font_black);
  font: 600 1rem/110% "Open Sans", sans-serif;
}
.main .section--popup .popup .input-wrapper {
  margin: 1.5rem 0;
  border-top: 2px solid var(--dark_green);
  border-bottom: 2px solid var(--dark_green);
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
.main .section--popup .popup .popup__label {
  color: var(--font_black);
  font: 600 1rem/110% "Open Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
}
.main .section--popup .popup .popup__input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  color: var(--font_black);
  font: 700 1rem/110% "Open Sans Condensed", sans-serif;
  text-align: center;
  text-transform: capitalize;
  transition: outline 400ms ease;
}
.main .section--popup .popup .popup__input:hover, .main .section--popup .popup .popup__input:focus, .main .section--popup .popup .popup__input:target {
  outline: 3px solid var(--dark_green);
}
.main .section--popup .popup .popup__input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
.main .section--popup .animation {
  width: 90%;
  height: 30vh;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1rem;
  background-color: var(--base_green);
  grid-area: animation;
}
.main .section--popup-show {
  display: grid;
}

.footer {
  padding: 1rem 0.25rem;
  grid-area: footer;
  background-color: var(--dark_brown);
  display: grid;
  grid-template: repeat(3, auto)/1fr;
  gap: 0.5rem;
}
.footer .section-footer {
  padding: 0.5rem 0.25rem;
  border-top: 2px solid var(--base_brown);
  border-bottom: 2px solid var(--base_brown);
}
.footer .footer__title {
  color: var(--font_white);
  font: 700 1.5rem/110% "Open Sans Condensed", sans-serif;
  text-transform: capitalize;
}
.footer .list {
  border-left: 2px solid var(--base_brown);
  padding-left: 0.5rem;
  list-style: none;
}
.footer .list .list__obj {
  color: var(--font_white);
  font: 500 1rem/115% "Open Sans", sans-serif;
}
.footer .list .list__obj::before {
  padding-right: 0.5rem;
  content: "";
  color: var(--base_brown);
  font: 500 1rem/115% "FontAwesome";
}
.footer .list .list__link {
  outline: none;
  color: var(--base_brown);
  font: 600 1rem/115% "Open Sans", sans-serif;
  text-decoration: none;
  transition: color 450ms ease, text-decoration 450ms ease;
}
.footer .list .list__link:hover, .footer .list .list__link:active, .footer .list .list__link:target, .footer .list .list__link:focus {
  color: var(--light_brown);
  text-decoration: underline solid var(--light_brown) 2px;
}