/* Main Style Sheet */

@import "_variables";

* { margin: 0; padding: 0; }

.wrapper {
  max-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template: minmax(5vh, auto) 1fr minmax(5vh, auto) / 1fr 1fr 1fr;
  grid-template-areas: "header header header"
                       "main   main   main  "
                       "footer footer footer";

  overflow-x: hidden;
}

.header {
  padding: 0.75rem;

  background-color: $dark_green;

  grid-area: header;

  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-flow: row wrap;

  .header__title {
    color: $font_white;
    font: 700 2rem "Open Sans Condensed", sans-serif;
    text-align: center;
    text-transform: capitalize;
  }

  .header__text {
    color: $base_green;
    font: 400 0.9rem "Anonymous Pro", monospace;
    text-align: center;
    text-transform: capitalize;
  }
}

.main {
  grid-area: main;

  .section {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .section--text {
    .title {
      margin: 0.5rem 0;
      
      color: $dark_green;
      font: 700 1.25rem/125% "Open Sans Condensed", sans-serif;
      text-align: center;
      text-transform: capitalize;

      box-shadow: 0 1px 5px -2px $light_green;
    }
    
    .subtitle {
      margin: 0.5rem 0;
      
      color: $dark_green;
      font: 600 1.15rem/110% "Open Sans", sans-serif;
      text-transform: capitalize;
    }
    
    .text {
      margin: 0.25rem 0;
      
      color: $font_black;
      font: 400 1rem/105% "Open Sans", sans-serif;
    }
    
    .list {
      padding-left: 0.25rem;
      margin: 0.5rem 0;

      list-style: none;

      box-shadow: inset 2px 0 5px -3px $light_green;

      .li {
        color: $font_black;
        font: 400 1rem/105% "Open Sans", sans-serif;

        &::before {
          padding-right: 0.25rem;

          content: "&rarr;";
          content: "\f06c";
          color: $light_cold_green;
          font: 500 0.75em/100% "FontAwesome";
        }
      }
    }

    .link {
      color: $font_black;
      font: 500 1rem/105% "Open Sans", sans-serif;
      text-decoration: underline solid $dark_green;

      transition: color 450ms ease;

      &:hover,
      &:active,
      &:target,
      &:focus {
        color: $base_green;
      }
    }
  }

  .section--plantfamilies {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;

    .plant {
      padding: 0.75rem;
      border: 5px solid $base_green;
      border-radius: 0.85rem;
      margin: 0.5rem;

      box-shadow: 2px 2px 5px 0px $light_black;

      .plant__title {
        border-bottom: 3px solid $base_green;
        border-radius: 0.25rem;
        margin: 0.5rem 0;

        color: $font_black;
        font: 700 1.75rem/110% "Open Sans Condensed", sans-serif;
        text-align: center;
        text-transform: capitalize;
      }

      .figure {
        width: 40vh;
        height: auto;

        margin: 0.5rem auto;
        
        .figure__img {
          margin: 0.25rem 0;

          width: 100%;
          height: auto;
          
          filter: none;
        }

        .figure__caption {
          padding: 0.25rem;

          color: $font_black;
          font: 400 0.85rem/90% "Open Sans", sans-serif;
          text-align: center;
          text-transform: capitalize;

          box-shadow: inset 0 0 10px -5px $base_green;
        }
      }
    }
  }

  .section--popup {
    width: 100vw;
    height: 100vh;
    
    margin: 0;
    padding: 0;
    
    position: absolute;
    z-index: 1;
    
    overflow: hidden;

    .popup-wrapper {
      width: 100vw;
      height: 100vh;
      
      background-color: $light_black;
      
      opacity: 0.75;
      
      position: sticky;
      top: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
    }
  }

  .section--form {
    border-radius: 0.5rem;

    background-color: $dark_green;

    .title {
      margin: 0.25rem 0;
      border-bottom: 2px solid $base_green;
      padding: 0.25rem 0;

      color: $font_white;
      font: 700 1.25rem/100% "Open Sans Condensed", sans-serif;
      text-transform: capitalize;
    }

    .form-wrapper {
      padding: 1rem;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      gap: 1rem;
    }
    
    .input-wrapper {
      border-top: 2px solid $base_green;
      border-bottom: 2px solid $base_green;
      padding: 0.5rem 0;
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      gap: 0.5rem;
    }

    .label {
      color: $font_white;
      font: 500 1rem/110% "Open Sans", sans-serif;
      text-align: center;
      text-transform: capitalize;
    }

    .figure {
      width: 25vh;
      height: auto;

      margin: 0.25rem auto;

      .figure__img {
        width: 100%;
        height: auto;

        filter: invert(53%) sepia(14%) saturate(5965%) hue-rotate(61deg) brightness(101%) contrast(71%);
      }
    }

    .input {
      border: none;
      border-radius: 0.25rem;
      padding: 0.75rem 1rem;

      color: $font_black;
      font: 700 1rem/110% "Open Sans Condensed", sans-serif;
      text-align: center;
      text-transform: capitalize;

      transition: outline 400ms ease, background-color 450ms ease;

      &:hover,
      &:focus,
      &:target {
        outline: 3px solid $light_green;
      }

      &[type="button"]:active {
        background-color: $light_cold_green;
      }

      &[type="number"]::-webkit-inner-spin-button {
        opacity: 1;
      }
      
    }
  }
}

.footer {
  padding: 1rem 0.25rem;

  grid-area: footer;

  background-color: $dark_brown;

  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  gap: 0.5rem;

  .section-footer {
    padding: 0.5rem 0.25rem;
    border-top: 2px solid $base_brown;
    border-bottom: 2px solid $base_brown;
  }

  .footer__title {
    color: $font_white;
    font: 700 1.5rem/110% "Open Sans Condensed", sans-serif;
    text-transform: capitalize;
  }

  .list {
    border-left: 2px solid $base_brown;
    padding-left: 0.5rem;

    list-style: none;

    .list__obj {
      color: $font_white;
      font: 500 1rem/115% "Open Sans", sans-serif;

      &::before {
        padding-right: 0.5rem;

        content: "\f101";
        color: $base_brown;
        font: 500 1rem/115% "FontAwesome";
      }
    }

    .list__link {
      outline: none;

      color: $base_brown;
      font: 600 1rem/115% "Open Sans", sans-serif;
      text-decoration: none;

      transition: color 450ms ease, text-decoration 450ms ease;

      &:hover, 
      &:active,
      &:target,
      &:focus {
        color: $light_brown;
        text-decoration: underline solid $light_brown 2px;
      }
    }
  }
}